.lime-link-btn{
  background-color: darken(#c0e7c0,10%);
  padding: 2px 6px;
  text-decoration: none;
  border:none;;
  margin-right: 2px;
  font-weight: bold;
  &:hover{
    background-color: #c0e7c0;
    color:#040!important;
  }
  &.round{
    border-radius:6px;
  }
  &.link-btn{
    display:inline-block;
    width:100%;
    height: 100%;
  }
}

.lime-btn{
  background-color: darken(#c0e7c0,10%);
  padding: 2px 6px;
  text-decoration: none;
  border:none;
  margin:2px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  &:hover{
    background-color: #c0e7c0;
    color:#040!important;
  }
  &.round{
    border-radius:6px;
  }
  &.link-btn{
    display:inline-block;
    width:100%;
    height: 100%;
  }
}

.green-btn{
  background-color: darken(#c0e7c0,10%);
  padding: 2px 6px;
  text-decoration: none;
  border:none;
  font-weight: bold;
  width: 100%;
  height: 100%;
  &:hover{
    background-color: #c0e7c0;
    color:#040!important;
  }
  &.round{
    border-radius:6px;
  }
  &.link-btn{
    display:inline-block;
    width:100%;
    height: 100%;
  }
}


.link-btn{
  display:inline-block;
  width:100%;
  height: 100%;
  text-align: center;
}


.blue-link-btn {
  background-color: darken(#c0c0e7,10%);
  padding: 2px 6px;
  text-decoration: none;
  border:none;
  margin-right: 2px;
  font-weight: bold;
  &:hover{
    background-color: #c0c0e7;
    color:#006!important;
  }
  &.round{
    border-radius:6px;
  }
  &.link-btn{
    display:inline-block;
    width:100%;
    height: 100%;
  }
}


.gbutton {
  padding: 2px 6px;
  border: solid 2px #ccc;
  margin: 1px;
  // font-size: 1.3vmax;
  background-color: #273862;
  color:#ddd;
  &:hover {background-color: lighten(#273862,22%);color:white;}

  span.fs80 {font-size:0.60rem;}
}
.sbutton {
  padding: 3px;
  border: solid 1px #ccc;
  margin: 1px;
  // font-size: 1.3vmax;
  background-color: lime;
  color:black;
  &:hover {background-color: lighten(#273862,18%);color:white;}

  span.fs80 {font-size:0.60rem;}
}
a.blue-link{
  color:blue;
  &:hover{
    color:green;
  }
}

a.green-link{
  color:green;
  &:hover{
    color:blue;
  }
}

span.btn{
  display:inline-block;
  padding: inherit;
  margin: inherit;
  margin-right: 3px;
}
span.span-btn{
  display:inline-block;
  margin:8px;
}
.mr-1{
  margin-right: 1px;
}
.mr-2{
  margin-right: 2px;
}
.mr-3{
  margin-right: 3px;
}
.mr-4{
  margin-right: 4px;
}

.mt-1{
  margin-top: 1px;
}
.mt-2{
  margin-top: 2px;
}
.mt-3{
  margin-top: 3px;
}
.mt-4{
  margin-top: 4px;
}

.mb-1{
  margin-bottom: 1px;
}
.mb-2{
  margin-bottom: 2px;
}
.mb-3{
  margin-bottom: 3px;
}
.mb-4{
  margin-bottom: 4px;
}

.ans-button {
  padding: 3px;
  border: solid 1px #ccc;
  margin: 2px;
  // font-size: 1.2rem;
  background-color: green;
  color:white;
  display: inline-block!important;
  width:2.5rem;
  text-align: center;
}
.center {text-align: center;}

button.actions:hover{
  background-color: darken(rgb(58, 186, 244),15%);
}
/* 3.14 Breadcrumb */
.breadcrumb {
  background-color: #f9f9f9; }
  .breadcrumb .breadcrumb-item {
    line-height: 1; }
    .breadcrumb .breadcrumb-item i {
      margin-right: 5px; }



.btn-success .bg-success {
  background-color: #63ed7a;
}