.card-4,.hover-shadow:hover{
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}

.btn-sqr-blue{
  background-color: #273862;
  color: white;
  border: solid 2px #ccc;
  &:hover {
    background-color: lighten(#273862,22%);
    color:#ccc;
  }

}
