- links = []
- links << link_to(icon('fas fa-list', 'Cancel-List Notices'),  notices_path, class: 'btn_send mr-2')
= render partial:'shared/dashboard', locals:{name:"Edit Notice",links:links}

== render 'form'

