- links = []
- if is_super?
  - links << link_to( icon('fas fa-list', 'Cancel List Groups'),  groups_path, class: 'btn btn-warning mr-2')
= render partial:'shared/dashboard', locals:{name:"New Group",links:links}


== render 'aform'

