<% @search_results.each.with_index do |result| %>
  <li class="hover:bg-blue-100 p-1" role='option' data-action="click->autopickr#select" data-select-id="<%= result[1] %>"
    data-select="/home/display?id=<%= result[1] %>" > <%= result[0] %></li>
<% end %>
