- links = []
- links << link_to( icon('fas fa-list','Cancel - List Games'), games_path, title: 'List it', class: 'btn btn-icon btn-warning mr-2')
== render partial:'shared/dashboard', locals:{name:"Edit Game",links:links}
== render 'form'

