li aeff502 - smaller blue buttons card status  : 2022-01-06
li 7ae9d24 - about tw cleanup, change repo  : 2021-12-05
li e7ae3f3 - limited status not set on changing player.is_frozen attribute  : 2021-11-18
li 168573e - add score hole/side to scorecard pdf  : 2021-10-24
li 4782e3c - fix autopickr demo  : 2021-10-06
li 21f2005 - testing autopickr  : 2021-10-06
li fcb8961 - 4 px more  : 2021-09-18
li 66c98d7 - little more margin  : 2021-09-15
li 0ec1a65 - tweak scorecard for new printer  : 2021-09-15
li 6cb0623 - player.id not unique after adding flex responsive  : 2021-09-08
li d6cb6e4 - smaller schedule buttons, to big on linex browsers  : 2021-09-08
li 7ad3537 - all pdf open target:'_blank'  : 2021-09-03
li c6d3ff6 - sidebar buttons are lnk-buttons 100%  : 2021-08-27
li bf9d355 - Some work on about, slim p and ul  : 2021-08-26
li fc8ec2a - fix callouts with tailwind  : 2021-08-23
li 84de2cd - fix tailwind preflight for p and li, just basic  : 2021-08-22
li 774cca6 - Most important view changed to tailwindccs where it made sense  : 2021-08-22
li 655026a - remove font size from boxy  : 2021-08-19
li fde96bb - about half of change - most used  : 2021-08-18
li 97965a6 - again  : 2021-08-08
li 173750c - other config  : 2021-08-08
li ed54caf - try bumping warning  : 2021-08-08
li 51b8229 - added staging to webpack.yml  : 2021-08-08
li 25916d9 - make sure slim won't purge  : 2021-08-08
li 0e69bd3 - just look for .html.erb (none in my case)  : 2021-08-08
li dd813c6 - error messages bable  : 2021-08-08
li c547b57 - extracted clases in scratch/compiled_class.html.erb  : 2021-08-08
li 4661d7f - push up hill to fail  : 2021-08-07
li cee3841 - take out compiled  : 2021-08-07
li b0bf06a - nudder approach with purge  : 2021-08-07
li c96f0d1 - syntax missing )  : 2021-08-07
li f1a59a1 - try slim kludge  : 2021-08-07
li 75f2d36 - cache thing didn't work  : 2021-08-07
li d51e36d - alter env staging and production  : 2021-08-07
li a9001ec - added purge command  : 2021-08-07
li ccae754 - see if can deploy to staging  : 2021-08-07
li ec0340c - forgot group stats object  : 2021-08-06
li 86fe1ed - Major refactor  : 2021-08-01
li 30186af - upgrade webpacker to fix sass problem  : 2021-06-19
li c5190b2 - bump ruby to 2.7.3 dry up teams abcd  : 2021-05-31
li 18d2ff6 - git log update  : 2021-04-21
li cbf86c6 - abcd would fail if less that 8 prayers  : 2021-04-20
li 7c6c2c3 - going to try deploy to production  : 2021-03-16
li dbb3e5a - problem was puma not restarting with capistrono  : 2021-03-07
li 5e2271c - just guessing  : 2021-03-07
li 69b8ccf - could it be stimulus autocomplte  : 2021-03-07
li 2823e6f - let just bump for versin  : 2021-03-07
li 802bc38 - Conversion done to this point  : 2021-03-07
li 9bc666c - new start point to try again  : 2021-03-06
li e0c1f72 - add players used limited? instead of limited to round  : 2021-02-03
li c4ed88a - Remove if statement if player.recompute_quata  : 2021-01-31
li 1c4c049 - semi-branch add limited field to player  : 2021-01-31
li f3b9b26 - update change log  : 2021-01-30
li 3180a1a - accidentaly removed print_teams template  : 2021-01-30
li 67da25b - Screwed up forming, Draw was really bad  : 2021-01-29
li 10b81e8 - deploy staging to allow stimulus autocomplete test  : 2021-01-29
li 750eb80 - fixed score individual team bug  : 2021-01-25
li a1e8dc2 - Merge branch 'stimulus'  : 2021-01-25
li 1445993 - well found bug in scoring, only change a few stimulus templates  : 2021-01-25
li 060140f - remove fix quotas, should of been irb onetime fix  : 2021-01-25
li 88693bf - fix expired quotas and show player pin  : 2021-01-24
li e82e897 - add space on home page after current box before alerts or noties  : 2021-01-23
li 8deed18 - Not sure but quota.rb may of had a problem  : 2021-01-23
li 9fb504f - move notices and alerts on home page, change log.  : 2021-01-23
li 8746490 - didn't initialize new skins or par3 if game.par or game.skins blank  : 2021-01-22
li 6ac507f - messed up conversion name  : 2021-01-22
li 8be7361 - implement par3 and skins at fields in game instead of stats hash  : 2021-01-22
li 87413c2 - trash files in services  : 2021-01-21
li 31207ea - Merge branch 'refactor1'  : 2021-01-21
li d6d552e - remove a bunch of comment out stuff  : 2021-01-21
li 2bbb194 - Divide and conqur scored sides and places divided  : 2021-01-21
li 3fafce1 - more refactoring and add some comment  : 2021-01-19
li b9ddcc6 - frozen string problem, remove rubocop literal  : 2021-01-18
li e4676b6 - redid par3 because of frozen string error, made better!  : 2021-01-17
li 02499f8 - some robocop fixing  : 2021-01-17
li 620a4e3 - skins and par3 refactored  : 2021-01-17
li 7c4faa3 - Skins working, a little more testing  : 2021-01-14
li b0fb99e - recompute quota in ScoreRounds if scores updated and changed  : 2021-01-11
li 8024d6c - getting close scoring and scored split including what need update (quota etc)  : 2021-01-11
li 425af24 - More namespacing and I  need a break point  : 2021-01-10
li c2a168c - Branch refactor, mainly namespacing Game and  fixing many of the smelly clases  : 2021-01-06