li 693d562 - z found error on test player_quota_object.rb was replaes  : 2020-12-27
li d81a357 - Some bullet cleanup, some new stuff not used except quota summary  : 2020-12-27
li 2b8472e - prrint teams  : 2020-11-20
li 086cfaf - Temp blind draw at end  : 2020-11-19
li de1124e - New inquiry notice and side games in checkbox  : 2020-11-09
li dde300b - add use_keyboard_scoring to group setting  : 2020-10-24
li 31c6395 - mainly recompute quota on tee changed,  : 2020-10-15
li a2012fc - refactor scoring js  : 2020-10-08
li 91c0ab5 - Clean up scoring form, fix limit_tee  : 2020-10-07
li 577089b - fix limit_new_tee  : 2020-10-01
li 27ad56c - Finish migration to attributes and setting in group  : 2020-09-30
li 77cfb65 - update rails and js for security alerts  : 2020-09-17
li 8d9c995 - Hide quota correction correction  : 2020-09-13
li abb29c6 - forgot some  : 2020-08-28
li a484d4f - add correction round commit, individual teams score card  : 2020-08-28
li d82146e - new group set preferences  : 2020-08-23
li 8db1eb2 - fix preferences super fix in clubs  : 2020-08-18
li 6fc815b - remove fix from set attributes  : 2020-08-18
li 7c60e8b - conversion fixing preferences and moving to settings  : 2020-08-18
li 7f89ebf - Correction game and refactor Group preferences  : 2020-08-17
li 6b1d7f6 - fix par3 or other in and no winner (not scored)  : 2020-08-11
li a8cef33 - other screwed up. disable for now  : 2020-08-09
li eee7ae3 - favicon and remove noref for print teams pdf  : 2020-08-08
li 52a5b42 - add percent to quota correction demo  : 2020-08-07
li b091feb - favicon left off refactor  : 2020-08-06
li e578cd5 - pin not being set, double click some places  : 2020-06-30
li 8ea51fc - sort name in player table view  : 2020-06-21
li 0cc70ea - filter player table view and add sorttable  : 2020-06-21
li 1dffff7 - Forgot print game list  : 2020-06-12
li 72d0037 - quota correction  : 2020-06-09
li 8815c17 - nope 10  : 2020-06-08
li 9ca0e8e - old quota * 9 + corr  : 2020-06-08
li 7255c3d - quota Correction  : 2020-06-08
li a30f216 - remove debugging puts, spelling  : 2020-06-04
li e687c21 - total = front +back, since disabled on form  : 2020-06-02
li 779a852 - slim text forgot on home page  : 2020-06-02
li bf5f42c - increase total max to 21  : 2020-06-02
li 072d079 - +- limited to 15, raised to 20 for select tag  : 2020-06-01
li 0b4c204 - invert color on icon btns form fff to000  : 2020-06-01
li fcc3f2f - features  : 2020-05-28
li 4a28284 - it be working in production - clean up warnings  : 2020-05-28
li ac1b269 - fricken db user  : 2020-05-26
li f6c5f39 - update bundler  : 2020-05-26
li 3c3cc65 - 3rd guess  : 2020-05-26
li a0de640 - second guess  : 2020-05-26
li fb2caa2 - first guess on deploy error  : 2020-05-26
li 75a31ef - key problems  : 2020-05-26
li 9eef8b1 - key config problem  : 2020-05-26
li bbef7a0 - bundle update  : 2020-05-26
li bf7d9af - deploy prod  : 2020-05-26
li 84c4ff0 - misspell and font size 1.0  : 2020-05-26
li 7712d40 - Some cleanup, close to initial deploy  : 2020-05-26
li e61772a - added fluid and cleanup buttons  : 2020-05-23
li 7616aa0 - error and migration wiped out db!  : 2020-05-22
li 2e967af - access group preferences using attributes, pairing  : 2020-05-22
li 150ca3e - reload schema error  : 2020-05-19
li 969789c - bump cap version  : 2020-05-19
li 530dc12 - move staging server  : 2020-05-19
li b6f90f4 - don't call .is_super? using Current.user  : 2020-05-12
li 85db586 - notice,faq and a little more  : 2020-05-11
li b630825 - fix autocomple, added changes page  : 2020-05-10
li c2c5a5f - First staging test  : 2020-05-10
li 174e3d4 - add fp css in pack tag  : 2020-05-07
li 645249a - style pack tag  : 2020-05-07
li 3434b28 - back to assets  : 2020-05-06
li 6877ed3 - don't know path  : 2020-05-06
li 4cce42e - try import  : 2020-05-06
li 236034f - added flatpickr css to assets  : 2020-05-06
li 5f45e55 - add flatpickr  : 2020-05-06
li 5194d50 - removed stimulus flatpicker  : 2020-05-06
li e4158c2 - not sure what is killing css  : 2020-05-06
li d88bb7c - import instead of require css  : 2020-05-06
li c0cbb6d - try pure flatpickr  : 2020-05-05
li 50df80f - flatpickr css not loading  : 2020-05-05
li 16cb359 - nope again  : 2020-05-05
li 5f289a3 - nope  : 2020-05-05
li 5dc373a - now very well explained and secrets  : 2020-05-05
li 01e1b3c - again  : 2020-05-05
li 6355f44 - staging problems  : 2020-05-05
li 06f1aeb - staging setup creditials  : 2020-05-05
li a886b6c - key base and cap files  : 2020-05-05
li d7db303 - capistrono installed and try staging  : 2020-05-05
li 251f992 - F..n side games. skins good nit really needed. computed 0 9 probem  : 2020-05-04
li 96a749b - Maybe 90%  : 2020-05-03
li 8dde380 - added pagy and moved old file to scratch  : 2020-04-21
li c5e0d71 - old work  : 2020-04-20
li 146f7b4 - initial way to late  : 2020-04-15