li e497476 - compile assets  : 2020-01-07
li ed67852 - find plapyers and events through current grou  : 2019-11-14
li c14c432 - Forming changes and least paired cleanup  : 2019-09-15
li f63474d - Added Stacked as forming method  : 2019-08-31
li be05a8b - group stats update and ready to try deploy again  : 2019-08-20
li 107fb4d - update bundler  : 2019-08-08
li 73e9408 - last??  : 2019-08-04
li 6852fb9 - more player_id stuff  : 2019-08-04
li a59ef5d - more play crap  : 2019-08-04
li 0c2ed82 - dele bad migration  : 2019-08-04
li d4c1917 - remove references to player  : 2019-08-04
li 4f2fcd8 - bootsnap  : 2019-08-04
li 690df2d - did a rails app:update - hope!!!  : 2019-08-04
li ff3f2ee - hard in db.yml  : 2019-08-04
li 5820840 - remove user pwd  : 2019-08-04
li 90d208e - back to pi but created db  : 2019-08-04
li 3efd1f9 - user  : 2019-08-04
li cf2176a - password rbenv-vars  : 2019-08-03
li 85ed54c - secret for now  : 2019-08-02
li 6f0b56e - bundler problems  : 2019-08-02
li 9c727ed - service  : 2019-08-01
li 8aa99eb - separate  : 2019-08-01
li e832dbf - plugin  : 2019-08-01
li ea0d8f6 - cap missing puma  : 2019-08-01
li d19d862 - start???  : 2019-08-01
li 7c795cb - try staging deploy  : 2019-08-01
li 4797fb1 - rails 5.2.3 upgrade  : 2019-08-01
li dd4adbb - sortable in some tables, better least_paired, trend in summary  : 2019-07-25
li 1734d19 - refactor least paired approach  : 2019-04-20
li 6467e73 - that didn’t work  : 2019-03-23
li 758e18e - ssl problem  : 2019-03-23
li 600fda8 - fix set_tee_changed to not recompute quota on new records or blank scored_rounds  : 2019-01-10
li a6d4c7f - add sortable. Group links in pulldown lins  : 2018-11-30
li 592d665 - set min table font 1o 10  : 2018-11-26
li a5ab970 - Add fluid.scss and make fluid less dramatic  : 2018-11-26
li 1f47a9e - bump font-size to 1.3vm  : 2018-11-26
li c7f23fa - Tweet vw use max, sort id. Also add sortable table jquery code to sort form team table  : 2018-11-18
li d7ff2eb - fix pulldown z-index to no conflict with callouts. rails-us added jQuery jQuery_ujs removed  : 2018-11-14
li 9f5b6b1 - again  : 2018-11-13
li 1ab8a48 - again  : 2018-11-13
li 8578ba4 - jQuery-ujs after  : 2018-11-13
li e850419 - back to jQuery-us  : 2018-11-13
li 70291d0 - just jQuery  : 2018-11-13
li 8c8acb7 - removed jQuery-us, cause deadlock on trying to delete anything	with warning  : 2018-11-13
li 6dd3804 - change log  : 2018-11-13
li fc52a34 - Fixed error ‘skip-before-filter’ was causing capistrono to not deploy refactored forming method redistribution - it almost ruby like!  : 2018-11-13
li ce615f9 - giving up changing rows for now  : 2018-11-11
li c7e6582 - rails upgrade and most conversion from row columns to grid-x  : 2018-11-11
li b7718b8 - Trim rounds minor bug, clean up group stats  : 2018-11-10
li eca4d1b - add PTRank to form_teams  : 2018-11-10
li 0589900 - gem update to get some upgrades like slim-rails  : 2018-11-10
li a845ea6 - Add forming method redistribution. Looks like some gems updated, hopefully will deploy  : 2018-11-10
li 8e46214 - add recasts like inquiry validation for robots, helper for splits not complete or any good  : 2018-07-13
li 87f3d33 - log  : 2018-06-09
li b903ba7 - Analyze error if pending event and add late participant (have zero team  : 2018-06-09
li 05d67bd - favicon  : 2018-06-06
li 33888ec - More paired analysis  : 2018-06-06
li e6fa247 - Team analysis and pairing  : 2018-05-28
li 0adc278 - log  : 2018-05-24
li 685d491 - don’t need analysis for pays places  : 2018-05-24
li 5166d72 - new version of least_paired seeding  : 2018-05-24
li 4830171 - @limits not set in add_move  : 2018-05-16
li 1465757 - refactor replace TeamStats with Scoring  : 2018-05-06
li e118e68 - add seed method to event show page  : 2018-04-21
li 529bda4 - still wrong way  : 2018-04-13
li f0552c7 - change log  : 2018-04-13
li ca79f1a - limits new round and inactive logic wrong.  was round.count < round_limit should have been round.count >= round_limit  : 2018-04-13
li 77737b7 - compute quota was setting last_played to base quota if no tee quota. List teams was disabled, and wrong by mistake.  : 2018-04-12
li 74679df - change log  : 2018-04-08
li aa99535 - Final clean up, liming about page. a little refactoring  : 2018-04-08
li aa49789 - Limits implement - final testing. PDF cleaned up to evenly space teams.  limited add to Round, frozen added to group_player  : 2018-04-07
li cf11580 - spaces  : 2018-04-02
li d999bf4 - Refactor back to twosome then add. Probably unneeded extra loops, count times, to find best fit.  : 2018-04-02
li eab8bfe - comment code and deploy  : 2018-03-30
li 2fcadb3 - before teams/forming refactor, lot of commented old code  : 2018-03-30
li 2f69da4 - quick fix  : 2018-03-29
li 7769b57 - change log  : 2018-03-27
li 47fa85f - Least Paired Seeding method  : 2018-03-27
li 9ff20ed - group player quality stats in show page limited to year  : 2018-01-25
li e6bd3fe - change log  : 2018-01-10
li 51d98f3 - fix score_card printing blank page on mod 2 or 3 and not last team  : 2018-01-10
li ed879c2 - demo side_places  : 2017-12-22
li 286fbdc - Maintenance routine rename_tee to change tee color  : 2017-12-06
li fb1c3a8 - Shuffle ABC teams before adding D players  : 2017-12-01
li a888d17 - change log  : 2017-12-01
li 21ccd96 - Add swap teams to event as sub method to adjust teams. Random team order of 2,3 and 4 somes  : 2017-12-01
li ac65aad - change log, SignIn/ScoreSheet in sidebar  : 2017-11-19
li 268bf38 - Add limit rounds for group stats by date (default to current year). Add best rounds/sides to event stats if other side game is not used. Modify title on browser tab to show group name  : 2017-11-19
li a9b74a1 - Make score sheet also be sign-in sheet. clearfix on expired players.  Remove _blank on pdf - they don’t understand tabs!  : 2017-11-09
li cad9f31 - set no print on event show pages  : 2017-10-31
li a857ea6 - rounding error in to_nickels helper  : 2017-10-30
li ef34b3b - change log  : 2017-10-28
li ce6c1c1 - Print ScoreCard PDFs now landscape or portrait. Menu move to right  in button bar.  : 2017-10-28
li 896a6ef - Portrait score card  : 2017-10-27
li 40a2061 - Tweak scorecard pdf, to nickels on side games stats  : 2017-10-22
li 7352897 - change stoke commands on scoresheet to see if fixes on cannon printer  : 2017-10-09
li 7f30248 - score sheet draft  : 2017-10-06
li 18f1cbd - remove span from nick_full_name  : 2017-10-05
li ca30871 - change log  : 2017-10-05
li 7ed92d6 - Deploy PDF Scorecard as option until printer checked out  : 2017-10-05
li 6e2fcb8 - PDF score_card, stats group options  : 2017-10-05
li 6cd942b - change log update  : 2017-09-29
li 9922dd6 - forgot change log  : 2017-09-28
li ce063cb - added sanitize_first_round boolean to group options. will only sanitize if set.  : 2017-09-28
li c2f246a - replace log unstead of append  : 2017-07-12
li ff2dbc0 - Rails-erd for the heck of it. Sidegames_stats update par3 did not sum up all par3’s won  : 2017-07-12
li 19d3dea - Added @limit to player.member search. Start of a new help/faq page  : 2017-07-03
li 5fd427e - change log  : 2017-06-28
li 34f1bd5 - Tee update if params[:tee].present? added to fix syntax error. Change log updated limited added to quota summary  : 2017-06-28
li 065731e - Show expired players on index page. Limits class to deal with limited/starred/frozen players. Displayed asterisk on all player lists where quota displayed. add Tee pulldown to scheduled event show view  : 2017-06-28
li d837ac8 - Implement change log in About controller  : 2017-06-26
li c2ce779 - bundle update to fix minutest error css tweaks. change top margin on print scorecard, small-table font size compute quota on first round to use claimed quota and total pulled implement net score and pp and limited add round limited to see if player was limited on that round  : 2017-06-25
li 6852d02 - Misspelled quota in compute base quota  : 2017-06-13
li fbc056f - compute quota on new player or tee averages 1st round with player quota. Allow Adjust Teams to do a one time tee change for a player for that round.  : 2017-06-11
li ea6f12c - added late participant but didn’t adjust teams and allowed to be scored. can’t score if team zero present  : 2017-05-30
li c934b1a - add manager to group_player policy  : 2017-05-29
li af5d806 - Add rounds controller for super  : 2017-05-20
li 49ce9cf - New group player stats page that is sortable. Destroy event on show page if empty or not scored after 1 day.  : 2017-05-17
li 937394f - Print list of players  : 2017-05-10
li 25a4dd2 - Default form teams moved to Draw  : 2017-04-17
li 868edc0 - line height on li. new_today_event button will create a new event for today if logged in and now event  : 2017-04-14
li 1127563 - create new event button on home page is login and no event. money list sorted on percent wan  : 2017-04-14
li 69d795c - more nickname stuff  : 2017-03-20
li 162d104 - refactor su login  : 2017-03-18
li 317f433 - sticky about on large. maybe more later  : 2017-03-18
li a94d727 - fix_name allowed all uppercase ugh. Fixed to titlecase unless mixed case (LaPoint)  : 2017-03-18
li 6e659c8 - nick_first_last_name changes. Sort by. disable last_cookie. some more about  : 2017-03-17
li c01949e - super login  : 2017-03-13
li 67d71cd - clean up side_games a little, having problem on staging  : 2017-03-12
li 8baf287 - fix forming based on seed versus	numb teams fix limited to rounds  : 2017-03-12
li 7fa54dc - inquiry controller and stuff. super password little better  : 2017-03-11
li f101319 - more about, move update_participants button  : 2017-03-10
li 8d20dba - move old_pin to player_id in all the calls to old_pin.  : 2017-03-09
li 8b3d51e - destroyed players scaffold  : 2017-03-09
li 3f28022 - display limited * on group_player, stats, teams recompute quota if tee changed only display phone if current user about controller and view  : 2017-03-09
li cee4048 - forming methods about  : 2017-03-05
li 99a0951 - whitelist problem on production  : 2017-03-05
li bb33dfe - sticky top bar. stick side bar score teams for medium up. a couple e sticky menu bars.  : 2017-03-05
li 3db0cbd - Forming teams error for individual teams. switch for players to cards.  : 2017-03-03
li f89948f - refactor old GameStats into TeamStats and SideGamesStats  : 2017-03-02
li e933260 - minor test update and remove puts in policy. get ready for refactor event_stats  : 2017-03-02
li 5997ea7 - Significant refactor. pagination, concerns methods renaming, start of testing.  commit getting ready for next refactor to clean up more  : 2017-02-28
li f14ca00 - rename methods scored_players > event_players event_team_stats > event_teams scored_teams > update_scores  : 2017-02-24
li 311f8a1 - add seed methods to form teams. breakout update participants to update teams, and adjust teams, try little testing. refactor forming to more ruby like  : 2017-02-22
li 9c004b6 - set 0 to wrong variable for print scorecard single page  : 2017-02-20
li f7d53d9 - single print scorecards. Delete games if participant deleted  : 2017-02-17
li c7f43b9 - Clean up scheduled page, added set side games link.  : 2017-02-10
li b563269 - fix club players search , add to_nickles formatting for leader board.  : 2017-02-09
li 1630299 - dummy  : 2017-02-09
li 002bd78 - syntax error in Stash  : 2017-02-09
li f65ad22 - Stash implemented for notice and maybe something in the future. polymorphic stackable  : 2017-02-09
li 3755c37 - Think had a production problem on reading notices. just plain render. If you change it restart the server, of expire  : 2017-02-07
li eff4a48 - notice implemented. more greener cleanup teams sort display left to right instead of column.  : 2017-02-07
li d78d01d - More greener. One of last commits fixed problem will pulldown scores not throw missing scores error.  : 2017-02-06
li 74e6392 - use foundation default font_size in most places small-tables  : 2017-02-06
li 04b6436 - Make greener, maybe prettier. same look and feel on most pages  : 2017-02-06
li c2b7786 - Group Player Leaders. Some cleanup  : 2017-02-05
li ccc1067 - Changed to click hidden submit button  : 2017-02-04
li 1e0b8a6 - removed return true to see if that works.  There is no validation and inputs moved so may be fix  : 2017-02-04
li c05e90b - edge browser submit error guess  : 2017-02-04
li bc558bf - let commit and merge and give it a try  : 2017-02-03
li ccda0d6 - Club course add, group play not only member. Player still there but will go away  : 2017-02-02
li cce9481 - Top menu, notice bug fixes (trim rounds) super delete empty players, etc  : 2017-01-29
li 970b3f4 - don’t listen on 8080  : 2017-01-28
li 82f4fdc - forgot  : 2017-01-28
li 404c1d5 - extension  : 2017-01-28
li 6af9694 - jquery ui  : 2017-01-28
li ceb36c5 - Set up for new reply unicorn method from VFW  : 2017-01-28
li f766c98 - trying to fix unicorn  : 2017-01-14