h4.strong New or Little Known Features
p.slim A lot of what is in PtGolf came from members of a group bitching about something! Not just about how the program works, but basic interactions in the group. Things like:
ol
  li I bet I've played with X they last Y times.
  li X wins most of the time.
  li I can't find X in the list of players
dl.indent-dd
  dt.strong 1. Pairings
  dd There is a 'Fact Checker' on the Players page. It's been there for years but kind of obscure. There is now a <strong>Pairing History Search</strong> button. Clicking on the button will bring up a dialog box where you select a Subject (the bitcher), then Target Player(s). You can select multiple players using Shift or Control(PC) or Command(Mac) clicking on the target players in list. Then click the Pairing History Search button in the dialog and it will bring up how many times and the dates the subject player was on the same team of the target players.
  dd Depending on the Forming method used to form teams, there will be repeated pairing. A players will most likely have the same D players. There are Eight different forming methods! - mix it up sometimes.
dl.indent-dd
  dt.strong 2. Winning
  dd It could be because they are a consistently Good player! In any case 'Group Player Stats' in the Sidebar will bring up my version of FedEx standings. Who's on top (or bottom) will change over time and plays. Nobody is getting rich or poor!
dl.indent-dd
  dt.strong 3. WhatHisName - I can't find him
  dd There is a Player search button on the Players page (and the Club page). It will bring up a dialog where you can start typing what you think the players name is and it will autoSearch for any player who's first, last or nickname starts with however characters you've entered. If you are going only on a nickname, better find someone who remembers their real name!
/   dt Groups (belongs to Club)
/   dd Group can set up some basic rules: How many rounds are used to compute the quota, options to drop high and low scores from those rounds, rounding or truncating the computed quota and a few other options. Groups own Players and Events which owns Rounds.
/   dd When you vist or login to a group, all other tables belong to that group and are limited to only those recoreds owned by the group.
/   dd
/     dl.indent-dd
/       dt Players (Group Players)
/       dd Players have four required attributes: Name, Quota, Date Last Played and Tee (you can manage Quotas by Tee!).
/       dd You optionally can add Phone and a few other contact items to the players record.
/       dt Events
/       dd Events are the controlling structure in PtGolf and only consists of a Date a Status, and an optional field that manages side games. 
/       dd Once an Event is created, Players can be added to the Event (think Current Play List). This is done by linking an empty Round between the Event and the Player. The Event has a status of 'Scheduled' at this point.
/       dd Once all the players are added, you can Form Teams - again using either random or seeded methods. Teams can consist of 1, 2, 3, or 4 players. Having teams with only one player allow for individual play. After teams are formed the status changes to 'Pending' and Team numbers are added to the empty Round. You can add late player before the round is scored and adjust or re-form the teams. You can print out a score card if you have a printer available.
/       dd At the completion of the round, you enter scores for the teams/players, by team (either one at a time or all at once).
/       dd Once all teams/players are scored, the Event status is changed to 'Scored', quotas are recomputed and you are done. There are methods available to correct any mistake made in scoring.
/       dt Rounds
/       dd Rounds belong to a Player and an Event. While it replicates the last 10 scores of PTGOLF, it does a little more. The basic use of rounds is to compute quota(s). Just like PTGOLF, it has points pulled and a Date. Since we've added Teams and it is linked to Events, it can compute who won the Event and store how much they won.  Whether you use this feature it is up to you. More on Rounds later.
/       dt Users
/       dd You must be logged into the system to change any information.  This is controlled by Users who belong to the group. Users have roles which control what they can and can't do. Each group must have at least one user with a 'coordinator' role. That user can then call what are called CRUD actions on above table. CRUD stands for C(reate, R(ead, U(date and D(estroy.

/ p.slim At this point, the basic functions of PTGOLf have been replicated in PtGolf using concepts that were not available in 1980 (estimated creation of PTGOLF). Everything is not in one record of each player.

/ P You can find out more information about the six tables by clicking on the table name.