- links = []
- links << link_to( icon('fas fa-list', 'Cancel - List Players'),  players_path, class: 'btn btn-warning mr-2 ')
- links << link_to( icon('fas fa-arrow-left', 'Cancel - Show Player'),  players_path, class: 'btn btn-warning mr-2')
- links << link_to( icon('fas fa-calculator','Recompute Quota'), recompute_quota_player_path(@player), class: 'btn btn-blue mr-2') if is_manager?
= render partial:'shared/dashboard', locals:{name:"Edit Player",links:links}

div.bg-green-50 == render 'form'

