- links = []
- links << link_to( icon('fas fa-list', 'Cancel - List Players'),  players_path, class: 'btn btn-warning mr-2 ')
= render partial:'shared/dashboard', locals:{name:"New Player",links:links}

== render 'form'

