@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {

/*  .btn-primary {
    @apply py-1 px-2 pt-blue text-white rounded-md border-2 border-green ;
  }*/
  .pt-blue{
    background-color: #273862;
  }
  .pt-blue:hover{
    filter: brightness(1.7);
/*    background-color: #475872;
*/
  }
  .badge {
    background-color:#000;
    color:#fff;
    display:inline-block;
    padding-left:8px;
    padding-right:8px;
    padding-top: 2px;
    padding-bottom: 2px;

    text-align:center;
    border-radius:50%;
  }
}


@import 'actiontext.css';