@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  .bg-green1 {
    @apply bg-green-400 hover:bg-green-700 hover:text-white  border-2 border-green-600   
  }
  .bg-orange1 {
    @apply bg-amber-400 hover:bg-amber-600 hover:text-white border-2 border-amber-600 
  }
  .bg-blue1 {
    @apply bg-blue-400 hover:bg-blue-700 hover:text-white border-2 border-blue-700 
  }
  .bg-red1 {
    @apply bg-red-500 border-2 border-red-600 hover:text-white  hover:bg-red-600   
  }

  .btn-link, .btn_link {
    @apply bg-green1 py-1 px-2 mr-1 rounded-md text-lg font-bold
  }
  .btn-send, .btn_send {
    @apply bg-blue1 py-1 px-2 mr-1 rounded-md text-lg font-bold
  }
  .btn-warn, .btn_warn {
    @apply bg-orange1 py-1 px-2 mr-1 rounded-md text-lg font-bold
  }
  .btn-danger, .btn_danger {
    @apply bg-red1 py-1 px-2 mr-1 rounded-md text-lg font-bold 
  }

  .btn-primary {
    @apply py-1 px-2 pt-blue text-white rounded-md border-2 border-green ;
  }
  .pt-blue{
    background-color: #273862;
  }
  .pt-blue:hover{
    filter: brightness(1.7);
/*    background-color: #475872;
*/
  }
  .badge {
    background-color:#000;
    color:#fff;
    display:inline-block;
    padding-left:8px;
    padding-right:8px;
    padding-top: 2px;
    padding-bottom: 2px;

    text-align:center;
    border-radius:50%;
  }
}


@import 'actiontext.css';