.select {
  min-width: 3ch;
  max-width: 30ch;
  border: 1px solid green;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.1rem;
  cursor: pointer;
  -webkit-appearance: menulist;
  line-height: 1.1;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}
.select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: var(--select-arrow);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

/*select {
  -webkit-appearance: menulist;
}
*/
.btn-success, .bg-success {
  background-color: #63ed7a;
}
.btn-secondary, .bg-secondary {
  background-color: #9db3b8;
}

.btn-sqr-blue{
  background-color: #273862;
  color: white;
}
.btn-sqr-blue:hover{
    background-color: #4766b2;
}
.lime-link-btn {
  background-color: #9bd99b;
  padding: 2px 6px;
  text-decoration: none;
  border: none;
  margin-right: 2px;
  font-weight: bold;
}
.lime-link-btn:hover {
  background-color: #c0e7c0;
  color: #040 !important;
}
.lime-link-btn.round {
  border-radius: 6px;
}
.lime-link-btn.link-btn {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.lime-btn {
  background-color: #9bd99b;
  padding: 2px 6px;
  text-decoration: none;
  border: none;
  margin: 2px;
  font-weight: bold;
  width: 100%;
  height: 100%;
}
.lime-btn:hover {
  background-color: #c0e7c0;
  color: #040 !important;
}
.lime-btn.round {
  border-radius: 6px;
}
.lime-btn.link-btn {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.link-btn {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
}

/*.sbutton {
  padding: 3px;
  border: solid 1px #ccc;
  margin: 1px;
  background-color: lime;
  color: black;
}
.sbutton:hover {
  background-color: #415ea4;
  color: white;
}
.sbutton span.fs80 {
  font-size: 0.60rem;
}
*/
a.blue-link {
  color: blue;
}
a.blue-link:hover {
  color: green;
}
a.green-link {
  color: green;
}
a.green-link:hover {
  color: blue;
}
span.btn {
  display: inline-block;
  padding: inherit;
  margin: inherit;
  margin-right: 3px;
}
span.span-btn {
  display: inline-block;
  margin: 8px;
}

/*.mr-1 {
  margin-right: 1px;
}
.mr-2 {
  margin-right: 2px;
}
.mr-3 {
  margin-right: 3px;
}
.mr-4 {
  margin-right: 4px;
}
.mt-1 {
  margin-top: 1px;
}
.mt-2 {
  margin-top: 2px;
}
.mt-3 {
  margin-top: 3px;
}
.mt-4 {
  margin-top: 4px;
}
.mb-1 {
  margin-bottom: 1px;
}
.mb-2 {
  margin-bottom: 2px;
}
.mb-3 {
  margin-bottom: 3px;
}
.mb-4 {
  margin-bottom: 4px;
}*/

.ans-button {
  padding: 3px;
  border: solid 1px #ccc;
  margin: 2px;
  background-color: green;
  color: white;
  display: inline-block !important;
  width: 2.5rem;
  text-align: center;
}
.center {
  text-align: center;
}
button.actions:hover {
  background-color: #0c97d6;
}

.boxes .row-box, .row-box-18 .row-box {
  height: 1.5rem;
  font-weight: 200;
  margin: 0;
  padding: 0;
  border-left: solid 1px #aaddaa;
  border-top: solid 1px #aaddaa;
  display: inline-block;
  background-color: white;
  line-height: 1.5rem;
  font-size: 0.9rem;
}
.boxes .row-box.lbl, .row-box-18 .row-box.lbl {
  background-color: #e7ffe7;
  font-weight: 500;
}
.boxes .row-box span, .row-box-18 .row-box span {
  width: 2rem;
  height: inherit;
  text-align: center;
  border-right: solid 1px #aaddaa;
  border-bottom: solid 1px #aaddaa;
  display: inline-block;
  overflow: hidden;
}
.boxes .row-box span.lbl, .row-box-18 .row-box span.lbl {
  background-color: #e7ffe7;
  font-weight: 500;
}
.boxes .row-box span.err, .row-box-18 .row-box span.err {
  color: red;
}
.boxes .row-box span.cut, .row-box-18 .row-box span.cut {
  color: red;
  background-color: #ffe6e6;
  font-weight: 700;
}
.boxes .row-box span.good, .boxes .row-box span.birdie, .boxes .row-box span.card-B, .row-box-18 .row-box span.good, .row-box-18 .row-box span.birdie, .row-box-18 .row-box span.card-B {
  color: green;
  background-color: #b3ffb3;
  font-weight: 700;
}
.boxes .row-box span.eagle, .boxes .row-box span.card-E, .row-box-18 .row-box span.eagle, .row-box-18 .row-box span.card-E {
  color: #00f;
  background-color: #b3b3ff;
  font-weight: 700;
}
.boxes .row-box span.albatros, .boxes .row-box span.card-A, .row-box-18 .row-box span.albatros, .row-box-18 .row-box span.card-A {
  color: yellow;
  background-color: #999900;
  font-weight: 700;
}
.boxes .row-box span.title, .row-box-18 .row-box span.title {
  width: 4rem;
  font-weight: 700;
}
.row-box-small {
  font-size: 0.7rem;
}
.row-box-small .row-box {
  height: 1.1rem;
  font-weight: 200;
  margin: 0;
  padding: 0;
  border-left: solid 1px #aaddaa;
  border-top: solid 1px #aaddaa;
  display: inline-block;
  background-color: white;
  line-height: 1.1rem;
  font-size: 0.9rem;
}
.row-box-small .row-box.lbl {
  background-color: #e7ffe7;
  font-weight: 500;
}
.row-box-small .row-box span {
  width: 1.1rem;
  height: inherit;
  text-align: center;
  border-right: solid 1px #aaddaa;
  border-bottom: solid 1px #aaddaa;
  display: inline-block;
  overflow: hidden;
}
.row-box-small .row-box span.lbl {
  background-color: #e7ffe7;
  font-weight: 500;
}
.row-box-small .row-box span.err {
  color: red;
}
.row-box-small .row-box span.cut {
  color: red;
  background-color: #ffe6e6;
  font-weight: 700;
}
.row-box-small .row-box span.good, .row-box-small .row-box span.birdie, .row-box-small .row-box span.card-B {
  color: green;
  background-color: #b3ffb3;
  font-weight: 700;
}
.row-box-small .row-box span.eagle, .row-box-small .row-box span.card-E {
  color: #00f;
  background-color: #b3b3ff;
  font-weight: 700;
}
.row-box-small .row-box span.albatros, .row-box-small .row-box span.card-A {
  color: yellow;
  background-color: #999900;
  font-weight: 700;
}
.row-box-small .row-box span.title {
  width: 2.2rem;
  font-weight: 700;
}

.w3e-blue {
   background-color: #0f3e61;
}
 .min-height {
   min-height: 85vh;
}
 .max-height {
   max-height: 75vh;
   overflow: scroll;
   border: solid 1px #888;
}
 .small-table {
   border-collapse: collapse;
   overflow: scroll;
}
 .small-table td, .small-table th {
   font-size: 95%;
   padding: 0.3vw;
   margin: 0;
   border: solid 1px #ccc;
}
 table.small-table-stripped {
   border-collapse: collapse;
   background-color: white;
   overflow: scroll;
}
 table.small-table-stripped td, table.small-table-stripped th {
   font-size: 95%;
   padding: 0.3vw;
   margin: 0;
   border: solid 1px #ccc;
}
 table.small-table-stripped tbody tr:nth-child(odd) {
   background-color: #ecffec;
}
 .stripped tr:nth-child(even) {
   background-color: #e2ffe2;
}
 span.rib {
   display: inline-block;
}
 .medium-table {
   border-collapse: collapse;
}
 .medium-table td, .medium-table th {
   padding: 0.4rem;
   margin: 0;
   border: solid 1px #ccc;
}
 input[type="checkbox"], input[type="search"], input, select {
   padding: 4px;
   margin-bottom: 4px;
}
 input[type='text'] {
   border: solid 1px #ddd;
}
 a {
   text-decoration: none;
}
 .lite-lime {
   background-color: #e2ffe2;
}
 .liter-lime {
   background-color: #fff;
}
 .dark-lime {
   background-color: #c9ffc9;
}
 .my-lite-green {
   background-color: #92cf94;
}
 .my-liter-green {
   background-color: #b5dfb7;
}
 .text-right {
   text-align: right;
}
 .my-centered {
   width: 90%;
   margin-left: auto;
   margin-right: auto;
}
 body {
   background-color: #f6fff6;
}
 .menubar {
   background-color: #e2ffe2;
}
 section.dashboard {
   background-color: #e2ffe2;
   padding-top: 4px;
}
 .strong {
   font-weight: bold;
}
 .pt-breadcrumb .crumbs {
   float: right;
}
 .w100, .w100p {
   width: 100%;
}
 .w90p {
   width: 90%;
}
 .w80p {
   width: 80%;
}
 .w70p {
   width: 70%;
}
 .w60p {
   width: 60%;
}
 .w50p {
   width: 50%;
}
 .w40p {
   width: 40%;
}
 .w35p {
   width: 35%;
}
 .w30p {
   width: 30%;
}
 .w25p {
   width: 25%;
}
 .w20p {
   width: 20%;
}
 .w15p {
   width: 15%;
}
 .w10p {
   width: 10%;
}
 .w05p {
   width: 5%;
}
 .w03p {
   width: 3%;
}
 .show-fields label, .form-fields label {
   width: 20%;
   display: inline-block;
   font-weight: bold;
   text-align: right;
   margin-right: 8px;
}
 .show-fields label.half, .form-fields label.half {
   width: 40%;
}
 .field {
   margin: 2px 0 3px 0;
}
 .show-table {
   width: 100%;
}
 .show-table.half {
   width: 50%;
}
 .show-table th:first-of-type {
   width: 20%;
   text-align: right;
   margin-right: 8px;
}
 input[type=submit] {
   background-color: inherit;
   border: none;
   color: white;
}
 .small-caps {
   font-variant: small-caps;
}
 .flash-box {
   min-width: 50vw;
}
 span.annotate, div.annotate, dd.annotate, dl.annotate, li.annnotate, p.annotate {
   font-style: italic;
   font-size: 80%;
   line-height: 110%;
   font-weight: normal;
}
 span.annotate.strong, div.annotate.strong, dd.annotate.strong, dl.annotate.strong, li.annnotate.strong, p.annotate.strong {
   font-weight: bold;
}
 td.rpad-td {
   padding-right: 36px;
}
 .sticky-menu {
   position: -webkit-sticky;
  /* Safari */
   position: sticky;
   top: 0;
   z-index: 2;
}
 .sticky-col {
   position: -webkit-sticky;
  /* Safari */
   position: sticky;
   bottom: 0;
   z-index: 2;
}
 hr.underline {
   margin: 3px;
   background-color: #eee;
   border: solid 1px #ccc;
}
 .light-box {
   background-color: #c0e7c0;
   border: solid 2px green;
   padding: 3px;
}

 dl.indent-dd dd {
   margin-left: 2rem;
}
 dl.indent-dd dt {
   margin-left: 1rem;
   font-weight: bold;

}

 dl.indent-dd.strong-dt dt {
   font-weight: bold;
}
 
/* .button.unpad {
   font-weight: 1rem;
   padding: 0.2rem;
   margin-bottom: 0.2rem;
   width: 80% !important;
   background-color: green;
}
 .button.unpad:hover {
   background-color: #00cd00;
}
*/
 span.mr-2 {
   display: inline-block;
   margin-right: 4px;
}
 span.mr-2:after {
   content: ',';
}
 span.ul {
   text-decoration: underline;
   font-style: italic;
}
 a.dblock {
   display: block;
}
 .fs125 {
   font-size: 120%;
}
 ul, ul.slim, ul.classic {
   list-style-type: disc;
   padding-left: 1rem;
   margin-left:  1rem;
}
 
.card-4, .hover-shadow:hover {
   box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn, .pt-btn {
    margin-right: .25rem;
    border-radius: .25rem;
    padding: .25rem;
    --tw-text-opacity: 1;
    color:rgba(0, 0, 0, var(--tw-text-opacity))
}

.btn:hover, .pt-btn:hover {
    color:rgba(255, 255, 255, var(--tw-text-opacity))
}

/*.btn, .pt-btn:hover {
    --tw-text-opacity:1
}

.btn {
    margin-right: .25rem;
    border-radius: .25rem;
    padding: .25rem;
    color:rgba(0, 0, 0, var(--tw-text-opacity))
}

.btn:hover {
    --tw-text-opacity: 1;
    color:rgba(255, 255, 255, var(--tw-text-opacity))
}
*/
.btn-sqr {
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgba(209, 213, 219, var(--tw-border-opacity));
    padding: .125rem;
    --tw-text-opacity: 1;
    color:rgba(209, 213, 219, var(--tw-text-opacity))
}

.btn-sqr:hover {
    --tw-text-opacity: 1;
    color:rgba(255, 255, 255, var(--tw-text-opacity))
}

/*.btn-sqr-blue {
    margin-right: .25rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgba(209, 213, 219, var(--tw-border-opacity));
    --tw-text-opacity: 1;
    color:rgba(209, 213, 219, var(--tw-text-opacity))
}

.btn-sqr-blue:hover {
    --tw-text-opacity: 1;
    color:rgba(255, 255, 255, var(--tw-text-opacity))
}

*/.btn-submit {
    margin-right: .25rem;
    border-radius: .5rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(209, 213, 219, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color:rgba(37, 99, 235, var(--tw-bg-opacity))
}

.btn-submit:hover {
    --tw-bg-opacity: 1;
    background-color:rgba(30, 64, 175, var(--tw-bg-opacity))
}

.btn-submit {
    padding: .5rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color:rgba(243, 244, 246, var(--tw-text-opacity))
}

.btn-sqr-green, .btn-submit:hover {
    --tw-text-opacity: 1;
    color:rgba(255, 255, 255, var(--tw-text-opacity))
}

.btn-sqr-green {
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgba(209, 213, 219, var(--tw-border-opacity));
    padding: .25rem;
    background-color:#50c354
}

.btn-player {
    margin-right: .25rem;
    margin-bottom: .25rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(59, 130, 246, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(30, 64, 175, var(--tw-bg-opacity));
    padding-left: .25rem;
    padding-right: .25rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    --tw-text-opacity: 1;
    color:rgba(255, 255, 255, var(--tw-text-opacity))
}

.btn-player:hover {
    --tw-text-opacity: 1;
    color:rgba(191, 219, 254, var(--tw-text-opacity))
}

.border-dark-orange {
    border-color:#ff8c00
}

.btn-orange, .btn-warning {
    --tw-bg-opacity: 1;
    background-color:rgba(255, 165, 0, var(--tw-bg-opacity))
}

.btn-success {
    background-color:#63ed7a
}

.btn-secondary {
    background-color:#9db3b8
}

.btn-yellow {
    --tw-bg-opacity: 1;
    background-color:rgba(251, 191, 36, var(--tw-bg-opacity))
}

.btn-green {
    background-color:#50c354
}

.btn-lime {
    --tw-bg-opacity: 1;
    background-color:rgba(73, 255, 73, var(--tw-bg-opacity))
}

.btn-blue {
    --tw-bg-opacity: 1;
    background-color:rgba(96, 165, 250, var(--tw-bg-opacity))
}

button.submit {
    margin-right: .25rem;
    border-radius: .25rem;
    padding: .25rem;
    --tw-text-opacity: 1;
    color:rgba(0, 0, 0, var(--tw-text-opacity))
}

button.submit:hover {
    --tw-text-opacity: 1;
    color:rgba(255, 255, 255, var(--tw-text-opacity))
}

button.submit {
    --tw-bg-opacity: 1;
    background-color:rgba(96, 165, 250, var(--tw-bg-opacity))
}

.btn-danger {
    --tw-bg-opacity: 1;
    background-color:rgba(239, 68, 68, var(--tw-bg-opacity))
}

.btn-purple {
    --tw-bg-opacity: 1;
    background-color:rgba(139, 92, 246, var(--tw-bg-opacity))
}

.btn-pink {
    --tw-bg-opacity: 1;
    background-color:rgba(236, 72, 153, var(--tw-bg-opacity))
}

.btn-link:hover {
    color:#50c354
}

.btn-info {
    --tw-bg-opacity: 1;
    background-color:rgba(96, 165, 250, var(--tw-bg-opacity))
}

.blue-link {
    --tw-text-opacity: 1;
    color:rgba(59, 130, 246, var(--tw-text-opacity))
}

.blue-link:hover {
    color:#50c354
}

.border-bottom {
    border-bottom:1px solid #ccc !important
}

.print {
   width: 9in;
   margin: 0 auto;
   font-size: 1.9rem;
}
 .print body {
   background-color: inherit;
}
 .print h1, .print h2, .print h3, .print h4, .print h5, .print h6, .print p {
   margin-bottom: 0.2rem;
}
 .print li {
   font-size: 0.7rem;
}
 .print h1, .print h2, .print h3, .print h4, .print h5, .print h6, .print caption {
   font-size: 1.2rem;
}
 .print td, .print th {
   font-size: 0.7rem;
   padding: 0.4rem;
   margin: 0;
   line-height: 1rem;
   border: solid 1px #ccc;
}
 .fs8 {
   font-size: 80%;
}
 @media print {
   .page-break {
     page-break-after: always !important;
  }
   .top, .header {
     display: none;
  }
   fieldset {
     border: none;
  }
   body {
     font-size: 8pt !important;
     background-color: #fff;
  }
   a[href]:after {
     content: none !important;
  }
   .noprint {
     display: none !important;
  }
}

.question.ul {
  font-style: italic;
 }

 p {
   margin:0.3rem 0;
   line-height: 1.2rem;
 }
