/*.height-auto{height: auto;}*/

#error_explanation {
  color: red;
  margin: 1rem;
}
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

.nopointer {  pointer-events: none; }
/* noointer disables sort icon from generating click event, bubbles to parent*/

a.blue-link {
  color: blue;
}
a.blue-link:hover {
  color: green;
}
a.green-link {
  color: green;
}
a.green-link:hover {
  color: blue;
}
span.btn {
  display: inline-block;
  padding: inherit;
  margin: inherit;
  margin-right: 3px;
}

.ans-button {
  padding: 3px;
  border: solid 1px #ccc;
  margin: 2px;
  background-color: green;
  color: white;
  display: inline-block !important;
  width: 2.5rem;
  text-align: center;
}

button.actions:hover {
  background-color: #0c97d6;
}

.vh-75 {
  height:75vh;
}
.vh-20{
  height:20vh;
}
.w3e-blue {
   background-color: #0f3e61;
}
 .min-height {
   min-height: 85vh;
}
 .max-height {
   max-height: 80vh;
   overflow: scroll;
   border: solid 1px #888;
}
 .small-table {
   border-collapse: collapse;
   overflow: scroll;
}
 .small-table td, .small-table th {
   font-size: 95%;
   padding: 0.3vw;
   margin: 0;
   border: solid 1px #ccc;
}
 table.small-table-stripped {
   border-collapse: collapse;
   background-color: white;
   overflow: scroll;
}
 table.small-table-stripped td, table.small-table-stripped th {
   font-size: 95%;
   padding: 0.3vw;
   margin: 0;
   border: solid 1px #ccc;
}
 table.small-table-stripped tbody tr:nth-child(odd) {
   background-color: #ecffec;
}
 .stripped tr:nth-child(even), .stripped {
   background-color: #e2ffe2;
}
 span.rib {
   display: inline-block;
}
 .medium-table {
   border-collapse: collapse;
}
 .medium-table td, .medium-table th {
   padding: 0.4rem;
   margin: 0;
   border: solid 1px #ccc;
}
 input[type="checkbox"], input[type="search"] {
   padding: 4px;
   margin-bottom: 4px;
}
 input[type='text'] {
   border: solid 1px #ddd;
}
 a {
   text-decoration: none;
}
 .lite-lime {
   background-color: #e2ffe2;
}
 .liter-lime {
   background-color: #fff;
}
 .dark-lime {
   background-color: #c9ffc9;
}

 .text-right {
   text-align: right;
}

 body {
   background-color: #f6fff6;
}
 .menubar {
   background-color: #e2ffe2;
}
.strong {
   font-weight: bold;
}
 .pt-breadcrumb .crumbs {
   float: right;
}
 .w100, .w100p {
   width: 100%;
}
 .w90p {
   width: 90%;
}
 .w80p {
   width: 80%;
}
 .w70p {
   width: 70%;
}
 .w60p {
   width: 60%;
}
 .w50p {
   width: 50%;
}
 .w40p {
   width: 40%;
}
 .w35p {
   width: 35%;
}
 .w30p {
   width: 30%;
}
 .w25p {
   width: 25%;
}
 .w20p {
   width: 20%;
}
 .w15p {
   width: 15%;
}
 .w10p {
   width: 10%;
}
 .w05p {
   width: 5%;
}
 .w03p {
   width: 3%;
}
.show-fields label, .form-fields label {
   width: 20%;
   display: inline-block;
   font-weight: bold;
   text-align: right;
   margin-right: 8px;
}
 .show-fields label.half, .form-fields label.half {
   width: 40%;
}
 .field {
   margin: 2px 0 3px 0;
}
 .show-table {
   width: 100%;
}
 .show-table.half {
   width: 50%;
}
 .show-table th:first-of-type {
   width: 30%;
   padding-right: 8px;
   text-align: right;
   margin-right: 8px;
}
.small-caps {
   font-variant: small-caps;
}
 .flash-box {
   min-width: 50vw;
}
 span.annotate, div.annotate, dd.annotate, dl.annotate, li.annotate, p.annotate {
   font-style: italic;
   font-size: 80%;
   line-height: 110%;
   font-weight: normal;
}
 span.annotate.strong, div.annotate.strong, dd.annotate.strong, dl.annotate.strong, li.annotate.strong, p.annotate.strong {
   font-weight: bold;
}
 td.rpad-td {
   padding-right: 36px;
}
 .sticky-menu {
   position: -webkit-sticky;
  /* Safari */
   position: sticky;
   top: 0;
   z-index: 2;
}
 .sticky-col {
   position: -webkit-sticky;
  /* Safari */
   position: sticky;
   bottom: 0;
   z-index: 2;
}
 hr.underline {
   margin: 3px;
   background-color: #eee;
   border: solid 1px #ccc;
}
 .light-box {
   background-color: #c0e7c0;
   border: solid 2px green;
   padding: 3px;
}

dl.indent-dd dd {
   margin-left: 2rem;
   line-height: 1.2rem;
   margin-bottom: 0.3rem;
}
dl.indent-dd dt {
   margin-left: 1rem;
   font-weight: bold;
   line-height: 1.2rem;
   margin-bottom: 0.3rem;

}

dl.indent-dd.strong-dt dt {
   font-weight: bold;
}
 
 span.mr-2 {
   display: inline-block;
   margin-right: 4px;
}
 span.mr-2:after {
   content: ',';
}
 span.ul {
   text-decoration: underline;
   font-style: italic;
}
 a.dblock {
   display: block;
}
 .fs125 {
   font-size: 120%;
}
 ul, ul.slim, ul.classic {
   list-style-type: disc;
   padding-left: 1rem;
   margin-left:  1rem;
}
 
.card-4, .hover-shadow:hover {
   box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}


.btn-submit {
    margin-right: .25rem;
    border-radius: .5rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(209, 213, 219, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color:rgba(37, 99, 235, var(--tw-bg-opacity))
}

.btn-submit:hover {
    --tw-bg-opacity: 1;
    background-color:rgba(30, 64, 175, var(--tw-bg-opacity))
}

.btn-submit {
    padding: .5rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color:rgba(243, 244, 246, var(--tw-text-opacity))
}

.btn-sqr-green, .btn-submit:hover {
    --tw-text-opacity: 1;
    color:rgba(255, 255, 255, var(--tw-text-opacity))
}

.btn-sqr-green {
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgba(209, 213, 219, var(--tw-border-opacity));
    padding: .25rem;
    background-color:#50c354
}

.border-dark-orange {
    border-color:#ff8c00
}

.btn-orange, .btn-warning {
    --tw-bg-opacity: 1;
    background-color:rgba(255, 165, 0, var(--tw-bg-opacity))
}

.btn-success {
    background-color:#63ed7a
}

.btn-secondary {
    background-color:#9db3b8
}

.btn-yellow {
    --tw-bg-opacity: 1;
    background-color:rgba(251, 191, 36, var(--tw-bg-opacity))
}

.btn-green {
    background-color:#50c354
}

.btn-lime {
    --tw-bg-opacity: 1;
    background-color:#b8ffb8;
    /*rgba(73, 255, 73, var(--tw-bg-opacity))*/
}

.btn-blue {
    --tw-bg-opacity: 1;
    background-color:rgba(96, 165, 250, var(--tw-bg-opacity))
}

button.submit {
    margin-right: .25rem;
    border-radius: .25rem;
    padding: .25rem;
    --tw-text-opacity: 1;
    color:rgba(0, 0, 0, var(--tw-text-opacity))
}

button.submit:hover {
    --tw-text-opacity: 1;
    color:rgba(255, 255, 255, var(--tw-text-opacity))
}

button.submit {
    --tw-bg-opacity: 1;
    background-color:rgba(96, 165, 250, var(--tw-bg-opacity))
}

.btn-danger {
    --tw-bg-opacity: 1;
    background-color:rgba(239, 68, 68, var(--tw-bg-opacity))
}

.btn-info {
    --tw-bg-opacity: 1;
    background-color:rgba(96, 165, 250, var(--tw-bg-opacity))
}

.blue-link {
    --tw-text-opacity: 1;
    color:rgba(59, 130, 246, var(--tw-text-opacity))
}

.blue-link:hover {
    color:#50c354
}

.border-bottom {
    border-bottom:1px solid #ccc !important
}

.print {
   width: 9in;
   margin: 0 auto;
   font-size: 1.9rem;
}
 .print body {
   background-color: inherit;
}
 .print h1, .print h2, .print h3, .print h4, .print h5, .print h6, .print p {
   margin-bottom: 0.2rem;
}
 .print li {
   font-size: 0.7rem;
}
 .print h1, .print h2, .print h3, .print h4, .print h5, .print h6, .print caption {
   font-size: 1.2rem;
}
 .print td, .print th {
   font-size: 0.7rem;
   padding: 0.4rem;
   margin: 0;
   line-height: 1rem;
   border: solid 1px #ccc;
}
 .fs8 {
   font-size: 80%;
}
 @media print {
   .page-break {
     page-break-after: always !important;
  }
   .top, .header {
     display: none;
  }
   fieldset {
     border: none;
  }
   body {
     font-size: 8pt !important;
     background-color: #fff;
  }
   a[href]:after {
     content: none !important;
  }
   .noprint {
     display: none !important;
  }
}

.question.ul {
  font-style: italic;
 }

 p {
   margin:0.3rem 0;
   line-height: 1.2rem;
 }

 p.slim {
  text-indent:1rem;
 }
